.head-picture img {
  display: block;
  border-radius: 50%;
  width: 25%;
  height: auto;
  margin: auto;
}

.head-heading h1,
h2 {
  margin-left: 5px;
}

.head-heading h1 {
  color: #0b24f5;
  font-size: 1.2em;
  margin-bottom: 0;
}

.head-heading h2 {
  font-size: 1.4em;
  font-weight: 900;
  margin-top: 0;
}
