.logo-img {
  display: none;
}

.profilepicturebox img {
  display: block;
  border-radius: 50%;
  width: 25%;
  height: auto;
  margin: auto;
  margin-top: 30px;
}

.title h1,
h2 {
  margin-left: 20px;
}

.title h1 {
  color: #0b24f5;
  font-size: 1.2em;
  margin-bottom: 0;
}

.title h2 {
  font-size: 1.4em;
  font-weight: 900;
  margin-top: 0;
}

.profile-paragraph {
  margin: 0 20px 0 20px;
}

.fa-linkedin-in,
.fa-github {
  margin: 20px 10px 20px 20px;
}

.fa-github {
  color: lightgrey;
}

/*tablet*/
@media ((min-width: 668px) and (max-width: 1023px)) {
  .logo-img {
    display: block;
  }

  .logo {
    width: 100%;
    height: 50%;
  }

  .medium-grid-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* desktop */
@media (min-width: 1024px) {
  .logo-img {
    display: block;
  }

  .grid-parent-header {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
  }

  .grid-parent-profile-img-and-title {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .profilepicturebox img {
    width: 20%;
    height: auto;
    margin-top: 150px;
  }

  .title {
    margin-top: 150px;
  }
}
