/* project-portfolio */

:root {
  --headings-font-family: "Satoshi-Bold", bold;
  --paragraph-font-family: "EB Garamond", serif;
  --primary-text-color: #000;
  --secondary-text-color: #568b7f;
  --tertiary-text-color: #fff;
  --primary-background-color: #cfe9e3;
  --secondary-background-color: #94b1aa;
  --tertiary-background-color: #edfaf7;
  --btn1-color: #94b1aa;
  --btn2-color: #f4f6f6;
  --btn3-color: #fdf6f6;
  --drop-shadow: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.3));
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-h3-font-size: 40px;
}

@import url("css/satoshi.css");

@font-face {
  font-family: SatoshiRegular;
  font-weight: normal;
  src: url("./fonts/Satoshi-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container .logo-img {
  display: none;
}

.profile-picture {
  display: block;
  border-radius: 50%;
  width: 164px;
  margin: auto;
  margin-top: 30px;
  border: 0.3rem solid var(--secondary-background-color);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

h1,
h2,
h3,
h4 {
  font-family: var(--headings-font-family);
  margin-right: 0;
  padding-right: 0;
}

.header-section {
  margin: 0 24px;
  max-width: fit-content;
}

p,
li {
  font-size: 28px;
}

button {
  font-size: 22px;
}

p,
button,
ul {
  font-family: var(--paragraph-font-family);
  color: var(--primary-text-color);
}

button {
  border: none;
  text-decoration: none;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  color: var(--secondary-text-color);
  font-size: 45px;
}

.title h2 {
  font-size: 1.9em;
  font-weight: 900;
  margin-top: 0;
}

.icons {
  margin: 0;
  text-align: center;
}

.fa-linkedin-in,
.fa-github {
  margin: 20px 10px 20px 20px;
  color: var(--secondary-text-color);
  opacity: 0.6;
  font-size: 28px;
  filter: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.3));
}

.fa-linkedin-in:hover,
.fa-github:hover {
  opacity: 1;
}

.tech {
  padding: 80px 30px 80px 30px;
  background-color: var(--primary-background-color);
}

.tech h3 {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: var(--heading-h3-font-size);
}

.tech p {
  margin: 30px;
}

.highlight-one {
  background-color: var(--secondary-text-color);
  padding: 0 8px;
  border-radius: 5px;
}

.highlight-two {
  background-color: var(--tertiary-background-color);
  padding: 0 8px;
  border-radius: 5px;
}

.highlight-three {
  background-color: var(--secondary-background-color);
  padding: 0 8px;
  border-radius: 5px;
}

.featured-projects h4 {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 32px;
  font-weight: 900;
}

.featured-projects-img {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: auto;
  align-items: center;
  box-shadow: var(--box-shadow);
  border: 0.3rem outset var(--secondary-text-color);
}

.featured-projects h3 {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: var(--heading-h3-font-size);
}

.featured-projects p {
  margin: 30px;
}

.flex-parent-highlight {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.flex-child-highlight p {
  background-color: #000;
  color: #fff;
  padding: 4px;
  margin: 2px;
  font-size: 18px;
  line-height: 21.6px;
}

.featured-projects .fa-github,
.fa-globe {
  color: var(--primary-text-color);
}

.featured-projects .fa-github,
.fa-globe {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.featured-projects .fa-github {
  margin-right: 4px;
}

.feature-projects-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-projects-btn button {
  padding: 8px 22px 8px 16px;
  border-radius: 20px;
  text-align: center;

  text-align: center;
  filter: var(--drop-shadow);
}

.color1-btn {
  background-color: var(--btn1-color);
  width: 60%;
  margin: 5px 0px 5px 22px;
}

.color1-btn a {
  text-decoration: none;
}

.color1-btn:hover {
  background-color: var(--btn2-color);
}

.color2-btn {
  background-color: var(--btn2-color);
  width: 50%;
  margin: 5px 0px 20px 22px;
}

.color2-btn:hover {
  background-color: var(--btn1-color);
}

.color3-btn {
  background-color: var(--btn2-color);
  width: 60%;
  margin: 5px 0px 20px 22px;
}

.color3-btn:hover {
  background-color: var(--btn1-color);
}

.date {
  color: #eb5577;
  font-weight: 900;
  padding-top: 20px;
  font-family: var(--headings-font-family);
}

.blog-container {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.blog-image {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  object-fit: cover;
  overflow: hidden;
  border: 0.3rem outset var(--secondary-background-color);
  box-shadow: var(--box-shadow);
}

.blog-container li {
  font-size: 24px;
  margin-left: 2rem;
}

.my-words-section-title {
  color: var(--secondary-text-color);
  font-size: 2.6em;
  text-align: center;
}

.project-title {
  display: flex;
  font-weight: 900;
  font-size: 32px;
}

.project-text {
  font-size: 22px;
  font-weight: 400;
  margin-top: 18px;
  margin-bottom: 18px;
}

.read-article-btn {
  display: flex;
  background-color: var(--btn3-color);
  width: 50%;
  padding: 10px;
  border-radius: 40px;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5px 0 50px 0;
  box-shadow: var(--box-shadow);
}

.read-article-btn:hover {
  background-color: var(--btn2-color);
}

.fa-newspaper {
  margin-right: 0.5rem;
  filter: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.3));
}

.skills-flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-child-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 16px;
  padding-bottom: 20px;
}

.skills-section {
  padding: 80px 30px 80px 30px;
  background-color: var(--primary-background-color);
}

.skills-section h3 {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: var(--heading-h3-font-size);
}

.skills-section h4 {
  text-align: center;
  font-size: 22px;
}

.skills-ul {
  list-style: none;
  display: table;
  margin: 0 auto;
  padding: 0;
}

.skills-ul li {
  text-align: center;
}

.highlight-header-one {
  background-color: var(--secondary-text-color);
  padding: 8px;
  border-radius: 5px;
}

.highlight-header-two {
  background-color: var(--tertiary-background-color);
  padding: 8px;
  border-radius: 5px;
}

.highlight-header-three {
  background-color: var(--secondary-background-color);
  padding: 8px;
  border-radius: 5px;
}

.highlight-header-four {
  background-color: var(--tertiary-background-color);
  padding: 8px;
  border-radius: 5px;
}

/* Footer section */

.footer-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 24px;
}

.footer-text .icons {
  text-align: left;
}

.footer-image .profile-picture {
  display: flex;
  margin: 0;
  gap: 29px;
}

.footer-title h3 {
  color: var(--secondary-text-color);
  font-weight: 700;
  text-align: center;
  padding-bottom: 12px;
  font-size: var(--heading-h3-font-size);
}

.footer-text h4 {
  font-size: 1.8em;
  color: var(--secondary-text-color);
}

.footer-text h5 {
  color: var(--primary-text-color);
  font-size: 2em;
}

.contact-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 10px;
}

.contact-wrapper {
  display: grid;
  justify-content: center;
}

.to-the-top-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 600;
  margin-top: 2rem;
}

/* ---- TABLET ----- */

@media only screen and (min-width: 744px) {
  /* Header */
  .logo-container .logo-img {
    display: flex;
    flex-direction: column;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: solid var(--secondary-background-color);
  }

  h1 {
    font-size: 28px;
  }

  .grid-parent-profile-img-and-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }

  .header-section {
    display: flex;
    margin: 0px 102px;
  }

  .header-section .title {
    margin-top: 80px;
  }

  /* Featured Projects */

  .featured-projects .fa-github,
  .fa-globe {
    font-size: 18px;
    padding: 0;
    text-align: center;
  }

  .featured-projects .fa-github {
    margin-right: 4px;
  }

  .featured-projects button {
    width: 10%;
  }

  .featured-projects-img {
    width: 100%;
  }

  .featured-projects-flex-parent {
    display: flex;
    flex-direction: row;
    margin: 0 20px 0 20px;
  }

  .featured-projects-flex-child {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: fit-content;
    margin-right: 20px;
  }

  .featured-projects-flex-child img {
    margin-top: 100px;
  }

  .featured-projects h3 {
    margin: 50px 0 45px 0;
  }

  .featured-projects h4 {
    margin-left: 30px;
  }

  .featured-projects-flex-parent img {
    width: 100%;
  }

  .feature-projects-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .feature-projects-btn button {
    width: 100%;
  }

  /* Skills */
  .skills-flex-parent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5px 5px;
    margin: auto 150px;
  }

  /* Footer */
  .footer-title h3 {
    font-size: 50px;
    font-weight: 900px;
  }

  .footer-text {
    margin-top: 50px;
  }

  .contact-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .contact-wrapper {
    display: grid;
    justify-content: center;
  }

  .footer-section .icons {
    display: flex;
    gap: 32px;
    margin-bottom: 2rem;
    padding-top: 0;
  }
}

/* ---- DESKTOP ---- */
@media only screen and (min-width: 1280px) {
  p,
  li {
    font-size: 20px;
  }

  .logo-container .logo-img {
    display: flex;
  }

  .logo-container {
    display: flex;
    min-width: 65vh;
    height: 100%;
    background-color: var(--secondary-background-color);
  }

  .logo-img {
    box-shadow: var(--box-shadow);
    border-radius: 5px;
  }

  .header-section {
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }

  .grid-parent-header {
    display: flex;
    flex-direction: row-reverse;
  }

  .grid-parent-profile-img-and-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .grid-item-header {
    flex-basis: 50%;
  }

  .profilepicturebox img {
    width: 40%;
    height: auto;
    margin-top: 150px;
    margin-left: 200px;
  }

  .profile-paragraph,
  .icons {
    max-width: 500px;
    height: 145px;
    top: 196px;
    margin: 20px 0 0 200px;
  }

  .featured-projects-img {
    width: 100%;
  }

  .icons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 32px;
    padding: 40px 0px;
  }

  .title {
    margin-top: 170px;
  }

  .fa-linkedin-in,
  .fa-github {
    font-size: 25px;
    margin-top: 77px;
  }

  .flex-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .flex-child {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
  }

  .featured-projects .fa-github,
  .fa-globe {
    font-size: 18px;
    padding: 0;
    text-align: center;
  }

  .featured-projects .fa-github {
    margin-right: 4px;
  }

  .featured-projects button {
    width: 10%;
  }

  .featured-projects-flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 20% 2% 20%;
  }

  .featured-projects-flex-child {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: fit-content;
    margin-right: 20px;
  }

  .featured-projects h3 {
    margin: 50px 0 45px 0;
  }

  .featured-projects h4 {
    margin-left: 30px;
  }

  .featured-projects-flex-parent img {
    width: 350px;
    height: auto;
    margin-top: 40px;
  }

  .feature-projects-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .feature-projects-btn button {
    width: 100%;
  }

  .my-words-section {
    text-align: center;
    margin-bottom: 40rem;
  }

  .blog-container {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin: 2rem auto;
    width: 100%;
    height: 354px;
    max-width: 50%;
  }

  .blog-image {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    object-fit: cover;
    width: 450px;
    height: 354px;
    overflow: hidden;
  }

  .project-text {
    line-height: 29px;
    text-align: left;
  }

  li {
    text-align: left;
  }

  .blog-title,
  .blog-text {
    width: 50%;
  }

  .read-article-btn {
    width: 173px;
    padding: 5px;
    border-radius: 20px;
  }

  .skills-flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 66px;
  }

  .flex-child-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 16px;
    padding-bottom: 96px;
  }

  .footer-title {
    font-size: 120px;
    font-weight: 900px;
  }

  .footer-text {
    margin-top: 70px;
  }

  .contact-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .contact-wrapper {
    display: grid;
    justify-content: center;
  }

  .footer-section .icons {
    display: flex;
    gap: 32px;
    margin: 0;
    padding-top: 0;
  }
}
