/* project-portfolio */

:root {
  --headings-font-family: "Satoshi-Bold", bold;
  --paragraph-font-family: "EB Garamond", serif;
  --primary-text-color: #568b7f;
  --secondary-text-color: #94b1aa;
  --primary-background-color: #cfe9e3;
  --drop-shadow: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.3));
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@import url("css/satoshi.css");

@font-face {
  font-family: SatoshiRegular;
  font-weight: normal;
  src: url("./fonts/Satoshi-Regular.otf");
}

@font-face {
  font-family: SatoshiBold;
  font-weight: bold;
  src: url("./fonts/Satoshi-Bold.otf");
}

@font-face {
  font-family: SatoshiMedium;
  font-weight: medium;
  src: url("./fonts/Satoshi-Medium.otf");
}

@font-face {
  font-family: SatoshiBlack;
  font-weight: bolder;
  src: url("./fonts/Satoshi-Black.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-img {
  display: none;
}

.profilepicturebox img {
  display: block;
  border-radius: 50%;
  width: 25%;
  height: auto;
  margin: auto;
  margin-top: 30px;
}

h1,
h2,
h3,
h4 {
  margin-left: 20px;
  font-family: var(--headings-font-family);
}

p {
  font-family: var(--paragraph-font-family);
}

.title h1 {
  color: var(--primary-text-color);
  font-size: 1.2em;
  margin-bottom: 0;
}

.title h2 {
  font-size: 1.4em;
  font-weight: 900;
  margin-top: 0;
}

.profile-paragraph {
  margin: 0 20px 0 20px;
}

.fa-linkedin-in,
.fa-github {
  margin: 20px 10px 20px 20px;
  color: var(--primary-text-color);
  opacity: 0.6;
}

.fa-linkedin-in:hover,
.fa-github:hover {
  opacity: 1;
}

.scroll {
  text-align: center;
  color: var(--primary-text-color);
}

.fa-arrow-down-long {
  font-size: 18px;
}

.scroll p {
  font-weight: bold;
  margin-bottom: 40px;
}

.tech {
  padding: 80px 30px 80px 30px;
  background-color: var(--primary-background-color);
}

.tech h3 {
  color: var(--primary-text-color);
  font-size: 2.9em;
  text-align: center;
}

.tech p {
  margin: 30px;
}

.featured-projects-img {
  width: 100%;
  height: auto;
}

.featured-projects h3 {
  color: var(--primary-text-color);
  font-size: 2.9em;
  text-align: center;
}

.featured-projects p {
  margin: 30px;
  font-size: 22px;
}

.flex-parent-highlight {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.flex-child-highlight p {
  background-color: #000;
  color: #fff;
  padding: 2px;
  margin: 2px;
  font-size: 18px;
  line-height: 21.6px;
}

.featured-projects .fa-github,
.fa-globe,
button {
  color: #fff;
}

.featured-projects .fa-github,
.fa-globe {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.featured-projects .fa-github {
  margin-right: 4px;
}

.feature-projects-btn p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.feature-projects-btn button {
  border-radius: 40px;
  border: none;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  width: 164px;
  height: 48px;
  filter: var(--drop-shadow);
}

.color1-btn {
  background-color: #eb5577;
}

.color1-btn:hover {
  background-color: #ff847c;
}

.color2-btn {
  background-color: #0b24f5;
}

.color2-btn:hover {
  background-color: #79c2d0;
}

/*tablet*/
@media ((min-width: 668px) and (max-width: 1023px)) {
  .logo-img {
    display: block;
    align-content: top;
  }

  .grid-parent-header {
    display: flex;
    flex-direction: column-reverse;
  }

  .grid-parent-profile-img-and-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }

  .profilepicturebox img {
    width: 20%;
    height: auto;
    margin-top: 60px;
  }

  .title {
    margin-top: 80px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .logo-img {
    display: flex;
    width: 100%;
    max-height: 80%;
    margin-bottom: 0;
    /* align-items: center;
    justify-content: center; */
  }

  .grid-parent-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 1px;
  }

  .grid-parent-profile-img-and-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }
  /* 
  .grid-item-profile-img-and-title {
    background-color: pink;
  } */

  /* .logo-grid-item {
    grid-column: span 1;
  } */

  .profilepicturebox img {
    width: 40%;
    height: auto;
    margin-top: 150px;
  }

  .profile-paragraph {
    max-width: 500px;
    height: 145px;
    top: 196px;
    margin: 0px 0px 58px 44px;
  }

  .title {
    margin-top: 170px;
  }

  .fa-linkedin-in,
  .fa-github {
    font-size: 25px;
  }

  .scroll {
    margin-top: 400px;
  }

  .tech {
    margin-top: 50px;
  }

  .flex-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .flex-child {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
  }

  .featured-projects img {
    width: 50%;
    size: auto;
  }

  .featured-projects .fa-github,
  .fa-globe,
  button {
    color: #fff;
  }

  .featured-projects .fa-github,
  .fa-globe {
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .featured-projects .fa-github {
    margin-right: 4px;
  }

  .feature-projects-btn p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  .feature-projects-btn button {
    border-radius: 40px;
    border: none;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    width: 164px;
    height: 48px;
    filter: var(--drop-shadow);
  }

  .color1-btn {
    background-color: #eb5577;
  }

  .color1-btn:hover {
    background-color: #ff847c;
  }

  .color2-btn {
    background-color: #0b24f5;
  }

  .color2-btn:hover {
    background-color: #79c2d0;
  }
}
