/* project-portfolio */

:root {
  --headings-font-family: "Satoshi-Bold", bold;
  --paragraph-font-family: "EB Garamond", serif;
  --primary-text-color: #000;
  --secondary-text-color: #568b7f;
  --tertiary-text-color: #fff;
  --primary-background-color: #cfe9e3;
  --secondary-background-color: #94b1aa;
  --tertiary-background-color: #edfaf7;
  --btn1-color: #94b1aa;
  --btn2-color: #f4f6f6;
  --btn3-color: #fdf6f6;
  --drop-shadow: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.3));
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@import url("css/satoshi.css");

@font-face {
  font-family: SatoshiRegular;
  font-weight: normal;
  src: url("./fonts/Satoshi-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container .logo-img {
  display: none;
}

.profilepicturebox img {
  display: block;
  border-radius: 50%;
  width: 25%;
  height: auto;
  margin: auto;
  margin-top: 30px;
  border: solid var(--secondary-background-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--headings-font-family);
}

p,
button {
  font-size: 22px;
}

p,
button,
ul {
  font-family: var(--paragraph-font-family);
  color: var(--primary-text-color);
}

button {
  border: none;
  text-decoration: none;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-section h1,
h2 {
  margin-left: 30px;
}

.header-section p {
  margin-left: 10px;
}

.title h1 {
  color: var(--secondary-text-color);
  font-size: 1.2em;
}

.title h2 {
  font-size: 1.4em;
  font-weight: 900;
  margin-top: 0;
}

.profile-paragraph {
  margin: 0 20px 0 20px;
}

.icons {
  margin-left: 10px;
}

.fa-linkedin-in,
.fa-github {
  margin: 20px 10px 20px 20px;
  color: var(--secondary-background-color);
  opacity: 0.6;
}

.fa-linkedin-in:hover,
.fa-github:hover {
  opacity: 1;
}

/* .scroll {
  text-align: center;
  color: var(--secondary-text-color);
}

.fa-arrow-down-long {
  font-size: 18px;
}

.scroll p {
  font-weight: bold;
  margin-bottom: 40px;
} */

.tech {
  padding: 80px 30px 80px 30px;
  background-color: var(--primary-background-color);
}

.tech h3 {
  color: var(--secondary-text-color);
  font-size: 2.9em;
  text-align: center;
}

.tech p {
  margin: 30px;
}

.highlight-one {
  background-color: var(--secondary-text-color);
}

.highlight-two {
  background-color: var(--tertiary-background-color);
}

.highlight-three {
  background-color: var(--secondary-background-color);
}

.featured-projects h4 {
  margin-top: 30px;
  margin-left: 30px;
}

.featured-projects-img,
.my-words-img {
  width: 100%;
  height: auto;
}

.featured-projects h3 {
  color: var(--secondary-text-color);
  font-size: 2.9em;
  text-align: center;
}

.featured-projects p {
  margin: 30px;
}

.flex-parent-highlight {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.flex-child-highlight p {
  background-color: #000;
  color: #fff;
  padding: 2px;
  margin: 2px;
  font-size: 18px;
  line-height: 21.6px;
}

.featured-projects .fa-github,
.fa-globe {
  color: var(--primary-text-color);
}

.featured-projects .fa-github,
.fa-globe {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.featured-projects .fa-github {
  margin-right: 4px;
}

.feature-projects-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-projects-btn button {
  padding: 8px 22px 8px 16px;
  border-radius: 20px;
  text-align: center;

  text-align: center;
  filter: var(--drop-shadow);
}

.color1-btn {
  background-color: var(--btn1-color);
  width: 60%;
  margin: 5px 0px 5px 22px;
}

.color1-btn a {
  text-decoration: none;
}

.color1-btn:hover {
  background-color: var(--btn2-color);
}

.color2-btn {
  background-color: var(--btn2-color);
  width: 50%;
  margin: 5px 0px 20px 22px;
}

.color2-btn:hover {
  background-color: var(--btn1-color);
}

.color3-btn {
  background-color: var(--btn2-color);
  width: 60%;
  margin: 5px 0px 20px 22px;
}

.color3-btn:hover {
  background-color: var(--btn1-color);
}

.date {
  color: var(--primary-text-color);
  text-align: left;
}

.my-words-container {
  margin: 30px;
  background-color: var(--tertiary-background-color);
}

.my-words-container h3 {
  color: var(--secondary-text-color);
  font-size: 2.9em;
  text-align: center;
}

.my-words-container p {
  margin: 30px;
}

.my-words-container p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.my-words-container button {
  border-radius: 40px;
  border: none;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  width: 164px;
  height: 48px;
  filter: var(--drop-shadow);
}

.read-article-btn button {
  display: flex;
  background-color: var(--btn3-color);
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  margin: 5px 0 50px 0;
  filter: var(--drop-shadow);
}

.read-article-btn:hover {
  background-color: var(--btn2-color);
}

.time-to-talk-header {
  color: var(--secondary-text-color);
  font-size: 4em;
  text-align: center;
}

.skills-flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-child-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 16px;
  padding-bottom: 20px;
}

.skills-section {
  padding: 80px 30px 80px 30px;
  background-color: var(--primary-background-color);
}

.skills-section h3 {
  color: var(--secondary-text-color);
  font-size: 2.9em;
  text-align: center;
}

.skills-section h4 {
  text-align: center;
}

.skills-ul {
  list-style: none;
  display: table;
  margin: 0 auto;
  padding: 0;
}

.skills-ul li {
  text-align: center;
}

.highlight-header-one {
  background-color: var(--secondary-text-color);
}

.highlight-header-two {
  background-color: var(--tertiary-background-color);
}

.highlight-header-three {
  background-color: var(--secondary-background-color);
}

.highlight-header-four {
  background-color: var(--tertiary-background-color);
}

.time-to-talk-section h2 {
  text-align: center;
}

/*tablet*/
@media ((min-width: 668px) and (max-width: 1023px)) {
  .logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .logo-img {
    display: flex;
  }

  .grid-parent-header {
    display: flex;
    flex-direction: column-reverse;
  }

  .grid-parent-profile-img-and-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }

  .profilepicturebox img {
    width: 20%;
    height: auto;
    margin-top: 60px;
  }

  .title {
    margin-top: 80px;
  }

  .featured-projects .fa-github,
  .fa-globe {
    font-size: 18px;
    padding: 0;
    text-align: center;
  }

  .featured-projects .fa-github {
    margin-right: 4px;
  }

  .featured-projects button {
    width: 10%;
  }

  .featured-projects-flex-parent {
    display: flex;
    flex-direction: row;
    margin: 0 20% 0 20%;
  }

  .featured-projects-flex-child {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: fit-content;
    margin-bottom: 15%;
    margin-right: 20px;
  }

  .featured-projects h3 {
    margin: 50px 0 45px 0;
  }

  .featured-projects h4 {
    margin-left: 30px;
  }

  .featured-projects-flex-parent img {
    max-width: 100%;
    height: 280px;
    width: 184px;
    object-fit: cover;
  }

  .feature-projects-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .feature-projects-btn button {
    width: 100%;
  }

  .my-words-container {
    margin: 50px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .logo-container .logo-img {
    display: flex;
    justify-content: center;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-background-color);
  }

  .grid-parent-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-parent-profile-img-and-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .grid-item-header {
    margin-bottom: 100px;
  }

  .profilepicturebox img {
    width: 40%;
    height: auto;
    margin-top: 150px;
    margin-left: 200px;
  }

  .profile-paragraph {
    max-width: 500px;
    height: 145px;
    top: 196px;
    margin: 20px 0 0 200px;
  }

  .icons {
    margin-left: 180px;
  }

  .title {
    margin-top: 170px;
  }

  .fa-linkedin-in,
  .fa-github {
    font-size: 25px;
    margin-top: 77px;
  }

  /* .scroll {
    margin-top: 400px;
  } */

  .tech {
    margin-top: 50px;
  }

  .flex-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .flex-child {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
  }

  .featured-projects .fa-github,
  .fa-globe {
    font-size: 18px;
    padding: 0;
    text-align: center;
  }

  .featured-projects .fa-github {
    margin-right: 4px;
  }

  .featured-projects button {
    width: 10%;
  }

  .featured-projects-flex-parent {
    display: flex;
    flex-direction: row;
    margin: 0 20% 0 20%;
  }

  .featured-projects-flex-child {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: fit-content;
    margin-bottom: 15%;
    margin-right: 20px;
  }

  .featured-projects h3 {
    margin: 50px 0 45px 0;
  }

  .featured-projects h4 {
    margin-left: 30px;
  }

  .featured-projects-flex-parent img {
    width: 100%;
  }

  .feature-projects-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .feature-projects-btn button {
    width: 100%;
  }

  .my-words-container img {
    width: 25%;
  }

  .read-article-btn button {
    width: 8%;
  }

  .skills-flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 66px;
  }

  .flex-child-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 16px;
    padding-bottom: 96px;
  }

  .time-to-talk-section {
    margin: 0 20% 0 20%;
  }

  .time-to-talk-section h2 {
    margin-top: 100px;
  }

  .time-to-talk-section h3,
  .time-to-talk-section h4 {
    text-align: center;
  }

  .time-to-talk-section h4 {
    margin-bottom: 200px;
  }

  .time-to-talk-section img {
    border-radius: 50%;
    width: 25%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .time-to-talk-flex-parent {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }

  .time-to-talk-flex-child {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .my-words-container {
    margin: 65px;
  }
}
